*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
   background-color: aqua; 
}

.logo{
    width: 50px;
}
header{
    background-color: #fffbf8;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px gray;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin:0px 100px;
}
.logo-with-content{
    display: flex;
    align-items: center;
}
.logo-with-content a{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: #69758f;
}

.contact{
    background-color: #ec7a49;
    padding: 10px;
    border: none;
    outline: none;
    display: inline-block;
    color: #ffff;
    width: 115px;
    border-radius: 10px;
}

.first-section{
    background-color: #fffbf8;
    padding:45px 0px;

}

.rapid {
   padding: 60px 0px 0px 200px;
}

.section1-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1-container div{
    margin:10px;
}


h1 {
    font-size: 60px;
}

p{
    line-height: 30px;
    color: #69758f;
    padding: 25px 0;
    font-size: 20px;
}
.explore-btn{
 background-color: #ec7a49;
 border: none;
 padding: 15px 50px;
 border-radius: 10px;
 color: #ffff;
}

.second-section{
    background-color:#ffffff;
    padding: 60px 0px;
}
.we-do{
    text-align: center;
    margin-bottom: 50px;
}
 h2{
    font-size: 50px;
}

.process{
    display: flex;
    justify-content: center;
}

.about{
    width:25%;
    padding:0 30px;
    border-right: 3px dashed #ffe2d6;
}
section a {
    text-decoration: none;
    color: #ec7a49;
    font-size:16px;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 25px;
}

 .arrow{
    font-size: 25px ;
    padding-left: 5px;
    color: #ec7a49;
}

.third-section{
    background-color:  #fffbf8;
    padding: 60px 0px;
}

.clients{
    margin: 20px 0px;
    gap: 5px;
    display: flex;
    width: 60%;
    flex-wrap: wrap;

}

.client-1 img{
    width: 200px;
}
.client-2 img,.client-5 img,.client-9 img{
    width: 50px;
}

.client-7 img{
    width: 40px;
}



.client-3 img,.client-4 img,.client-6 img,.client-8 img{
    width: 120px;
}
.section3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients div{
    background-color: #f3f4f6;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}

.aws img{
    width: 80px;
}


.fourth-section{
    background-color: #ffffff;
    padding: 60px 0px;
}

.portfolio-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:20px;
    
}

.fifth-section{
    background-color:#fffbf8;
    padding: 60px 0;
}

.sixtth-section{
    background-color: #ffffff;
    padding: 60px 0;
}

.profiles {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.section6-container{
    text-align: center;
   margin: 0px 440px;
}
.section6-container h2{
    padding-bottom:20px;
}
.portfolio-img{
    width:60px;
}
.YaganKar{
    width: 120px;
}


.sev7-section{
    background-color: #fffbf8;
    padding: 60px 0;
}

.section7-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section7-container div{
 
    margin: 0px 200px 0px 0px;
}

.eight-section{
    background-color:#f3f4f6;
    padding: 60px 0px;
}

.email-us{
    background-color: #ffffff;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;  
}

.work{
    text-align: center;
}

.section8-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.email-us input{
    border: none;
    outline: none;
}

.last-section{
    padding: 60px 0px;
    background-color: #ffffff;
}

.last-section-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.last-section-container p{
    font-size:16px;
    line-height: 0;
    padding: 20px 0px;
}

footer{
    /* padding: 60px 0px; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 20px; */
}
footer p{
    font-size: 16px;
    margin: 0px 100px;
}

.sec-1{
    background-color: #fffbf8;
    padding: 200px 0px;
}

.sec1-complany{
    display: flex;
    align-items: center;
    /* justify-content:space-around; */
}

.sec-2{
    background-color:#ffffff;
    padding: 60px 0px;
}

.about-image{
    margin-right: 80px;
}

.content{
    margin:20px 200px;
}

.portfolio-txt{
    text-align: center;
}


.gaming-platform, 
.yagankar-com , 
.darakhtdanesh-org,
.sec3-company{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.sec-3{
    background-color: #fffbf8;
    padding: 60px 0;
}

.sec-4{
    background-color: #ffffff;
    padding: 60px 0px;
    /* background-color: red; */
}

.Leadership-images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Leadership-images-container img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  
}

.image{
    padding: 30px;
    text-align: center;
}

.Leadership-images-container div {
   margin:0px 30px;
   align-items: center;
}
.image p{
   line-height: 0;
   font-size: 16px;
}
.icons i{
    padding: 0px 5px;
    color: #ec7a49;
    font-size: 20px;
}
.image h3{
    /* line-height: 0; */
  font-size:18px;
  padding-top:5px;
}

.sec2-services {
    background-color: #ffffff;
    padding: 60px 0;
}


.idea{
    margin-left: 400px;
}

.prototype{
 margin-left: 1000px;
}

.line, .software-pro-container{
    text-align: center;
}

.software-pro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.sec-3-services{
    padding: 60px 0;
    background-color: #fffbf8;
}
.software-pro div{
   margin: 20px 30px;
}





.top-line{
    padding-top:70px;
}
.background-for-img {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 150px;
    padding: 40px 10px;
    /* height: 100px; */
    border-radius: 50%;

}

.sec4-services{
    padding: 60px 0px;
    background-color: #ffffff;
}

.training-img{
   margin:80px;
 
}
.training-content{
    margin: 10px 300px;
}

.training-container{
    display: flex;
}

.sec1-blog{
    padding:80px 0px ;
    background-color: #fffbf8;
}

.blog {
    width: 500px;
    border-radius: 10px;
}

.baddata{
    width: 300px;
    border-radius: 10px;
}



 .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}



